* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(90, 87, 87);
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid lightgray;
}

.logo {
    padding-left: 24px;
}

.logo img {
    width: 50px;
    height: 50px;
    float: left;
}

.logo span {
    float: right;
    padding-top: o;
    font-size: 32px;
    font-weight: 300;
}
nav ul {
    list-style: none;
    display: flex;
}


header nav a {
    color: gray;
    text-decoration: none;
    padding: 10px 16px;
}

nav a:hover {
    color: black;
}
/* header */



/* banner */
.banner {
    background-color: rgb(243, 243, 243);
    padding: 32px 24px;
    display: flex;
    padding-top: 100px;
}

.banner img {
    width: 60%;
    height: auto;
    border-radius: 5px;
}

.banner .learn{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 80px;
}

.banner .learn h1 {
    font-size: 40px;
    line-height: 1.5em;
    margin: 15px auto;
}

.banner .learn p {
    font-style: bold;
    font-size: 22px;
    line-height: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner .learn button {
    background-color: rgb(90, 87, 87);
    color: white;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 335px;
    letter-spacing: 0.099em;
    border-radius: 5px;
}

.banner .learn button:hover {
    background-color: gray;
    color: black;
}
/* banner */



/* main */

/* intro */
/* intro left */
.intro {
    display: flex;
}

.intro .left {
    width: 60%;
    margin: 32px 24px;
}

.intro .left img {
    width: 100%;
    border-radius: 5px;
}

.intro .left .content {
    margin-top: 32px;
    margin-bottom: 32px;
}

.intro .left h1 {
    font-size: 35px;
    margin-bottom: 24px;
}

.intro .left .quote {
    font-weight: 300;
    margin-bottom: 32px;
}

.intro .left .author {
    font-size: 13px;
    margin-bottom: 32px;
}
/* intro left */


/* intro right */
.intro .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.intro .right .single {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.intro .right .single:hover {
    background-color: lightgray;
}

.intro .right img {
    width: 40%;
    height: auto;
    padding: 16px;
    border-radius: 20px;
}

.intro .right .single .content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .right .single .content p {
    padding-top: 8px;
    padding-bottom: 6px;
    font-weight: 300;
}

.intro .right .single .content a {
    color: lightskyblue;
    text-decoration: none;
    font-weight: 300;
}

.intro .right .single .content a:hover {
    color: lightseagreen;
}
/* intro right */
/* intro */



/* courses */
.coursesContainer {
    background-color:  rgb(243, 243, 243);
}

.coursesContainer h1 {
    text-align: center;
    padding: 32px;
    font-size: 35px;
}

.courses {
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    padding-bottom: 40px;
}

.course {
    background-color: white;
    width: 30%;
    margin: 16px;
    border-radius: 5px;
}

.course img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.course .content {
    padding: 16px;
}

.course .content h2 {
    padding: 10px 0 16px 0;
    font-weight: 600;
}

.course .content .word {
    padding: 0 0 10px 0;
    font-weight: 300;
}

.course .content p {
    font-weight: 300;
}

.course:hover {
    background-color: lightgray;
}
/* courses */

/* thesis */
.thesis {
    border-bottom: 1px solid lightgray;
}
.thesis h1 {
    text-align: center;
    margin: 32px;
    font-size: 35px;
}

.thesisFlex {
    display: flex;
}

/* thesis left */
.thesis .left {
    width: 60%;
    margin: 24px;
}

.thesis .left video {
    width: 100%;
    border-radius: 10px;
}

.thesis .left h2 {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 15px;
}

.thesis .left p {
    font-weight: 300;
}
/* thesis left */


/* thesis right */

.thesis .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.thesis .right .single {
    display: flex;
    border-radius: 5px;
}

.thesis .right .single:hover {
    background-color: lightgray;
}

.thesis img {
    width: 40%;
    height: auto;
    border-radius: 20px;
    padding: 16px;
}

.thesis .right .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis .right .content h2 {
    font-weight: 600;
    li
}

.thesis .right .content p {
    font-weight: 300;
    padding-top: 8px;
}